@model TopMenuModel
@using Nop.Web.Models.Catalog;
@{
    var rootCategories = Model.Categories.Where(x => x.IncludeInTopMenu).ToList();
}


<nav id="menu">
    <ul>
        @foreach (var category in rootCategories)
        {
            <li>
                <span>@category.Name</span>
                <ul>

                    @{ Html.RenderAction("CategoryHomePageProducts", new { categoryid = category.Id }); }


                </ul>
            </li>
                        }
        <li>
            <span>Mua xe</span>
            <ul>
                <li><a href="/bang-gia-xe">bảng giá xe</a></li>
                <li><a href="/du-toan-chi-phi">dự toán chi phí</a></li>
                <li><a href="/dang-ky-lai-thu">đăng ký lái thử</a></li>
           
            </ul>
        </li>
        <li>
            <span>Dịch vụ</span>
            <ul>
                <li><a href="/phutung">phụ tùng</a></li>
                <li><a href="/baohanh">bảo hành</a></li>
                <li><a href="/hoidap">hỏi đáp</a></li>
            </ul>
        </li>
        <li>
            <span>Công nghệ</span>
            <ul>
                <li><a href="/kienthucsuzuki">kiến thức suzuki</a></li>
            </ul>
        </li>
        <li>
            <a href="/news">Tin Tức</a>
        </li>
        <li>
            <a href="@Url.RouteUrl("ContactUs")">@T("ContactUs")</a>
        </li>
    </ul>
    

   
</nav>

<ul>
@foreach (var category in rootCategories)
{

    <li class="aaa">
        <a href="#">sản phẩm <i class="fas fa-angle-down"></i></a>
        <div class="menu-lv2">
            <ul class="lv2">
             
                   @{ Html.RenderAction("CategoryHomePageProducts", new { categoryid = category.Id }); }
             

              
               
            </ul>
        </div>
    </li>
}
    <li class="menu-2 aaa">
        <a href="#">mua xe <i class="fas fa-angle-down"></i></a>
        <ul class="sub-lv2">
            <li><a href="/banggiaxe">bảng giá xe</a></li>
            <li><a href="/du-toan-chi-phi">dự toán chi phí</a></li>
            <li><a href="/dang-ky-lai-thu">đăng ký lái thử</a></li>
          
        </ul>
    </li>

    <li class="menu-2 aaa">
        <a href="#">dịch vụ <i class="fas fa-angle-down"></i></a>
        <ul class="sub-lv2">
            <li><a href="/phu-tung">phụ tùng</a></li>
            <li><a href="/bao-hanh">bảo hành</a></li>
            <li><a href="/hoi-dap">hỏi đáp</a></li>
        </ul>
    </li>
    <li class="menu-2 aaa">
        <a href="#">công nghệ <i class="fas fa-angle-down"></i></a>
        <ul class="sub-lv2">
            <li><a href="/kien-thuc-suzuki">kiến thức suzuki</a></li>
        </ul>
    </li>
    <li><a href="/lich-su-suzuki">lịch sử suzuki</a></li>
    <li class="menu-2 aaa">
    <li><a href="/news">tin tức</a></li>
 
   
    <li>
        <a href="@Url.RouteUrl("ContactUs")">@T("ContactUs")</a>
    </li>

</ul>
<div class="main-header">
    <div class="btn-menu">
        <a href="#menu"><span></span></a>
    </div>
</div>